<mat-nav-list>
    <h3 mat-subheader>Project</h3>
        <mat-list-item (click)="onNavClick()" [routerLink]= "['/project']" >
            <mat-icon mat-list-icon svgIcon="projects" ></mat-icon>
            <span mat-line> Project</span>
            <span mat-line mat-subheader> See all projects</span>
        </mat-list-item>
    <h3 mat-subheader>Calendar</h3>
        <mat-list-item (click)="onNavClick()" [routerLink]= "['/task']" >
                <mat-icon mat-list-icon svgIcon="month"></mat-icon>
            <span mat-line >Month</span>
            <span mat-line mat-subheader> List projects by month</span>
        </mat-list-item>
        <mat-list-item>
                <mat-icon mat-list-icon svgIcon="week"></mat-icon>
             <span mat-line >Week</span>
             <span mat-line mat-subheader> List projects by week</span>
        </mat-list-item>
        <mat-list-item>
                <mat-icon mat-list-icon svgIcon="day"></mat-icon>
            <span mat-line >Day</span>
            <span mat-line mat-subheader> List projects by day</span>
        </mat-list-item>
</mat-nav-list>