<form>
  <h2 mat-dialog-title>New Project</h2>
  <div mat-dialog-content>
      <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Porject Name"/>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Description"/>
          </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" >Save</button>
    <button type="button" mat-button mat-dialog-close>Close</button>
  </div>
</form>