<form>
<mat-card>
  <mat-card-header>
      <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Email"/>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="password" placeholder="Password"/>
      </mat-form-field>
 
  </mat-card-content>
  <button mat-raised-button color="primary" type="button">Login</button>
  <mat-card-actions class="text-right">
    <p>Don't have an account?  <a href="">Sign Up</a></p>
    <p>Forgot assword?  <a href="">Find It</a></p>
  </mat-card-actions>

</mat-card>


</form>